<!DOCTYPE HTML>
<html>
	{% load static %}
	<head>
		<title>{% block title %}CourseGenie{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{% static 'core/css/ie/html5shiv.js' %}"></script><![endif]-->
		<script>
			var skelCSSUrl = "{% static 'core/css' %}";
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.min.js" integrity="sha256-o7QFslEPuitprNVNQJrtEo/jXNfwgn1BTgVR2BJ5VOI=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/2.2.1/skel.min.js" integrity="sha256-0ztsxY0jpqQWz32G3SBQWRv/WAHGbiDnnTy2gsrNsCk=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skel-layers/2.0.1/skel-layers.min.js" integrity="sha256-tTl/Z6ei/ZJqCnxfWtIfb2prEJwAJ1fzAJBT4E1OG5o=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
		<script src="{% static 'core/js/init.js' %}"></script>
		<script src="{% static 'core/js/external.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'core/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'core/css/style-wide.css' %}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'core/css/ie/v8.css' %}" /><![endif]-->
		<link rel="stylesheet" href="{% static 'core/css/custom.css' %}" />
		<script type="text/javascript">
			/* This ensures that the CSRF cookie is set for pages that require it.
			The cookie is ignored if requests are safe, so there is no harm in
			including it by default.

			NOTE: This must run *before* the React code. */
			window._csrf_token = "{{ csrf_token }}";
		</script>
	</head>


	{% block body %}{% endblock %}
	<section id="footer">
		<div class="container">
			<!-- Copyright -->
				<div class="copyright">
					&copy; 2017 Princeton University. All Rights Reserved.
				</div>
		</div>
	</section>

</html>