{% load static %}
<head>
	<title> </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="{% static 'core/css/ie/html5shiv.js' %}"></script><![endif]-->
	<script>
		var skelCSSUrl = "{% static 'core/css' %}";
	</script>
	<script src="{% static 'core/js/jquery.min.js' %}"></script>
	<script src="{% static 'core/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'core/js/skel.min.js' %}"></script>
	<script src="{% static 'core/js/skel-layers.min.js' %}"></script>
	<script src="{% static 'core/js/init.js' %}"></script>
	<noscript>
		<link rel="stylesheet" href="{% static 'core/css/skel.css' %}" />
		<link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'core/css/style-wide.css' %}" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>