{% extends 'core/base.html' %}
{% load static %}

{% block title %}CourseGenie - Dashboard{% endblock %}
{% block body %}
	<body class="left-sidebar">
		<!-- Main -->
		<div class="dash-head">
			<div class="container">
				<header><h2 class="title">
				<div class="row">
						<div class="9u">Dashboard</div>
							<div class="3u">
								<div class="icon-pad"><a href="{% url 'core:transcript' %}"><span class="icon2 fa-archive"></span></a>
						<a href="{% url 'core:preferences' %}"><span class="icon2 fa-cog"></span></a>
					<a href="{% url 'core:dashboard' %}"><span class="icon2 fa-desktop"></span></a></div></div>
				</div>
			</h2></header>
			</div>
		</div>
		<hr/>
		<div class="title"></div>
		<div id="dashboard"></div>
		<script>
			var dashboard_data = {
				user_calendars: JSON.parse('{{ user_calendars|safe }}'),
				majors: JSON.parse('{{ majors|safe }}'),
				tracks: JSON.parse('{{ tracks|safe }}'),
				certs: JSON.parse('{{ certificates|safe }}'),
				preference_id: {{ preference_id }},
				calendar: {
					url: function(id) {
						var base = "{% url 'api:calendar-detail' pk=889 %}";
						return base.replace('889', id);
						},
					semesterCourseUrl: function(semester_id, course_id) {
						var base = "{% url 'api:semester-course' pk=889 %}";
						return base.replace('889', semester_id) + '?course_id=' + course_id;
						},
					semesterShortCourseUrl: function(semester_id, short_name) {
						var base = "{% url 'api:semester-course' pk=889 %}";
						return base.replace('889', semester_id) + '?short_name=' + short_name;
						},

					sandboxUrl: function(id, course_id) {
						var base = "{% url 'api:calendar-sandbox' pk=889 %}";
						return base.replace('889', id) + '?course_id=' + course_id;
						},

					progressUrl: function(id) {
						var base = "{% url 'api:progress-list' %}";
						return base + '?calendar_id=' + id;
						},

					singleProgressUrl: function(id) {
						var base = "{% url 'api:progress-detail' pk=889 %}";
						return base.replace('889', id);
						}
					},
				recommendations: {
					url: function(id) {
						var base = "{% url 'api:recommendation-list' %}";
						return base + "?calendar=" + id;
						},
					blacklistUrl: function(id) {
						var base = "{% url 'api:preference-bl-course' pk=889 %}";
						return base.replace('889', dashboard_data.preference_id) + "?course_id=" + id;
						},
					},
				};
		</script>
		<script src="{% static 'core/js/bundle/dashboard.js' %}"></script>
		<br/>
	</body>
{% endblock %}
