{% extends 'core/base.html' %}
{% load static %}

{% block title %}CourseGenie - Dashboard{% endblock %}
{% block body %}
	<body class="left-sidebar">
		<!-- Main -->
		<div class="page-header">
			<div class="container">
				<section>
					<header><h2 class="title">Dashboard</h2></header>
				</section>
			</div>
		</div>
		<div id="dashboard"></div>
		<script>
			var dashboard_data = {
				user_calendars: JSON.parse('{{ user_calendars|safe }}'),
				calendar: {
					url: function(id) {
						var base = "{% url 'api:calendar-detail' pk=889 %}";
						return base.replace('889', id);
						},
					semesterCourseUrl: function(semester_id, course_id) {
						var base = "{% url 'api:semester-course' pk=889 %}";
						return base.replace('889', semester_id) + '?course_id=' + course_id;
						}
					},
				recommendations: {
					url: function(id) {
						var base = "{% url 'api:recommendation-list' %}";
						return base + "?calendar=" + id;
						},
					},
				};
		</script>
		<script src="{% static 'core/js/bundle/dashboard.js' %}"></script>
	</body>
{% endblock %}
