{% extends 'core/base.html' %}
{% load static %}

{% block title %}CourseGenie - Dashboard{% endblock %}
{% block body %}
	<body class="left-sidebar">
		<!-- Main -->
		{% include 'core/partials/header.html' with title='Dashboard' %}
		<hr/>
		<div id="dashboard"></div>
		<script>
			function load_django(s) {
				return JSON.parse(atob(s));
				}

			var dashboard_data = {
				user_calendars: load_django('{{ user_calendars }}'),
				majors: load_django('{{ majors|safe }}'),
				tracks: load_django('{{ tracks|safe }}'),
				certificates: load_django('{{ certificates|safe }}'),
				preference_id: {{ preference_id }},
				profile_id: {{ profile_id }},
				calendar: {
					url: function(id) {
						var base = "{% url 'api:calendar-detail' pk=889 %}";
						return base.replace('889', id);
						},

					createUrl: "{% url 'api:calendar-list' %}",

					semesterCourseUrl: function(semester_id, course_id) {
						var base = "{% url 'api:semester-course' pk=889 %}";
						return base.replace('889', semester_id) + '?course_id=' + course_id;
						},
					semesterShortCourseUrl: function(semester_id, short_name) {
						var base = "{% url 'api:semester-course' pk=889 %}";
						return base.replace('889', semester_id) + '?short_name=' + short_name;
						},

					sandboxUrl: function(id, course_id) {
						var base = "{% url 'api:calendar-sandbox' pk=889 %}";
						return base.replace('889', id) + '?course_id=' + course_id;
						},

					sandboxShortUrl: function(id, short_name) {
						var base = "{% url 'api:calendar-sandbox' pk=889 %}";
						return base.replace('889', id) + '?short_name=' + short_name;
						},

					progressUrl: function(id) {
						var base = "{% url 'api:progress-list' %}";
						return base + '?calendar_id=' + id;
						},

					singleProgressUrl: function(id) {
						var base = "{% url 'api:progress-detail' pk=889 %}";
						return base.replace('889', id);
						},

					certificateUrl: function(id, cert_id) {
						var base = "{% url 'api:calendar-certificates' pk=889 %}";
						return base.replace('889', id) + '?cert_id=' + cert_id;
						},
					},
				recommendations: {
					url: function(id) {
						var base = "{% url 'api:recommendation-list' %}";
						return base + "?calendar=" + id;
						},
					blacklistUrl: function(id) {
						var base = "{% url 'api:preference-bl-course' pk=889 %}";
						return base.replace('889', dashboard_data.preference_id) + "?course_id=" + id;
						},
					},
				};
		</script>
		<script src="{% static 'core/js/bundle/dashboard.js' %}"></script>
		<br/>
	</body>
{% endblock %}
