<!DOCTYPE HTML>
<!--
	Concentric by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">

		<!-- Header -->


		<!-- Main -->
		<div id="banner-form">
			<div class="container">
				<section>
					<header>
						<h2>Welcome to CourseGenie!</h2>
						<span class="byline">Fill out the information below to get started</span>
					</header>
				</section>
			</div>
		</div>

		<!-- Contact -->
			<div id="contact-name">
				<div class="container">
					<form method="post" action="#">
						<section>
						<div class="row 50%">
							<div class="3u">
								<h1>Name</h1>
								<input name="name" placeholder="First Name" type="text" class="text" />
							</div>
							<div class="4u">
								<div id="mob"></div>
								<input name="name" placeholder="Last Name" type="text" class="text" />
							</div>
							<div class="2u"></div>
							<div class="3u">
								<h1>Class Year</h1>
								<input name="year" placeholder="YYYY" type="number" class="number" />
							</div>
						</div>
					</section>
						<div class="row 50%">
							<div class="12u">
								<a href="./form-transcript.html" class="button">Next</a>
							</div>
						</div>
					</form>
				</div>
			</div>

		<!-- Footer -->

	</body>
</html>
