<!DOCTYPE HTML>
<!--
	Concentric by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="left-sidebar">

		<!-- Header -->


		<!-- Main -->
		<div id="banner-form">
			<div class="container">
				<section>
					<header>
						<h2>Interests</h2>
						<span class="byline">Let us know what subjects you're interested in</span>
					</header>
				</section>
			</div>
		</div>

		<!-- Contact -->
			<div id="contact-name">
				<div class="container">
					<form method="post" action="#">
						<div class="row 50%">
							<div class="4u course">
								<div class="change">
								<h3 id="n11" onclick="setColor('n11')">Sociology</h3>
									<h3 id="n12" onclick="setColor('n12')">Economics</h3>
									<h3 id="n13" onclick="setColor('n13')">Philosophy</h3>
								<h3 id="n14" onclick="setColor('n14')">East Asian Studies</h3>
								<h3 id="n15" onclick="setColor('n15')">Architecture</h3>
								<h3 id="n16" onclick="setColor('n16')">History</h3>
								<h3 id="n17" onclick="setColor('n17')">Neuroscience</h3>
							</div></div>
							<div class="4u course">
								<h3 id="n21" onclick="setColor('n21')">Engineering</h3>
									<h3 id="n22" onclick="setColor('n22')">History</h3>
									<h3 id="n23" onclick="setColor('n23')">Anthropology</h3>
								<h3 id="n24" onclick="setColor('n24')">Mathematics</h3>
								<h3 id="n25" onclick="setColor('n25')">Dance</h3>
								<h3 id="n26" onclick="setColor('n26')">Visual Arts</h3>
								<h3 id="n27" onclick="setColor('n27')">Theater</h3>
							</div>
						<div class="4u course">
						<h3 id="n31" onclick="setColor('n31')">Linguistics</h3>
						<h3 id="n32" onclick="setColor('n32')">Art and Archaeology</h3>
							<h3 id="n33" onclick="setColor('n33')">Psychology</h3>
							<h3 id="n34" onclick="setColor('n34')">Computer Science</h3>
						<h3 id="n35" onclick="setColor('n35')">Creative Writing</h3>
					<h3 id="n36" onclick="setColor('n36')">Music</h3>
					<h3 id="n37" onclick="setColor('n37')">Politics</h3>
					</div>
					</div>
					<section>
						<div class="row 50%">
								<div class="12u">
								<h4>If you don't see your specific interests here don't worry!</h4></div>
								<div class="12u"><h4>This is only a small sample of our full subject list</h4></div>
						</div>
					</section>
					<section>
						<div class="row 50%">
							<div class="12u">
								<a href="./form-transcript.html" class="button">Back</a>
								<a href="./form-transcript.html" class="button-finish">Done</a>
							</div>
						</div>
					</section>
					</form>
				</div>
			</div>

		<!-- Footer -->
		<script>
    var counts = [];
		for(var i = 0; i < 30; i++) {
    		counts.push(1);
		}
		function setColor(obj) {
				var num = obj.substring(1,3);
        var property = document.getElementById(obj);
        if (counts[num-11] == 0) {
            property.style.color = "#C94545"
            counts[num-11] = 1;
        }
        else {
            property.style.color = "#11DC84"
            counts[num-11] = 0;
        }
    }
</script>
	</body>
</html>
