{% extends 'core/base.html' %}
{% load static %}

{% block body %}
	<body class="homepage">
		<!-- Banner -->
			<div id="banner">
				<div class="container">
					<section>
						<header>
							<h2>CourseGenie</h2>
							<span class="byline">Making your academic wishes come true</span>
						</header>
						<a href="{% url 'core:dashboard' %}" class="button">Sign In</a>
					</section>
				</div>
			</div>

		<!-- Intro -->
			<div id="intro">
				<div class="container">
					<section>
						<header>
							<h2>Plan future semesters, today</h2>
						</header>
						<div class="content">
							<p>With CourseGenie, you can keep everything course-related in one place. Whether that means saving courses you want to take in the future, looking at different major paths, or finding new courses that fit your interests, CourseGenie does it all. See our full list of features below!</p>
						</div>
					</section>
				</div>
			</div>

		<!-- Main -->
			<div id="main">
				<div class="container">

					<!-- Row #1 -->

						<ul class="featured">
						<li>
							<span class="pennant"><span class="icon fa-bar-chart"></span></span>
							<p>Visualize your certificate and major progress</p>
						</li>
							<li>
								<span class="pennant"><span class="icon fa-check-square-o"></span></span>
								<p>Discover certificates you already qualify for</p>
							</li>
							<li>
								<span class="pennant"><span class="icon fa-shopping-cart"></span></span>
								<p>Save courses you're interested in taking later on</p>
							</li>
							<li>
								<span class="pennant"><span class="icon fa-share"></span></span>
								<p>Find ways to get around courses you don’t want to take</p>
							</li>
							<li>
								<span class="pennant"><span class="icon fa-user"></span></span>
								<p>Generate personalized course recommendations based on your past courses and interests</p>
							</li>
							<li>
								<span class="pennant"><span class="icon fa-road"></span></span>
								<p>Envision different academic paths by creating multiple schedules</p>
							</li>
							<li>
								<span class="pennant"><span class="icon fa-plus-circle"></span></span>
								<p>Discover courses that count towards both your certificate and major</p>
							</li>
							<li>
								<span class="pennant"><span class="icon fa-folder"></span></span>
								<p>Keep track of AP, summer course, study abroad, and regular course credits</p>
							</li>
						</ul>

				</div>
			</div>

		<!-- Staff -->
			<div id="staff">
				<div class="container">
					<section>
						<header>
							<h2>The Genies</h2>
						</header>
						<ul class="staff">
							<li><img src="{% static 'core/images/kathy.jpg' %}" alt=""><p>Kathy</p></li>
							<li><img src="{% static 'core/images/anya.png' %}" alt=""><p>Anya</p></li>
							<li><img src="{% static 'core/images/rushy.jpg' %}" alt=""><p>Rushy</p></li>
							<li><img src="{% static 'core/images/fiona.jpg' %}" alt=""><p>Fiona</p></li>
							<li><img src="{% static 'core/images/simi.jpg' %}" alt=""><p>Simisola</p></li>
						</ul>
					</section>
				</div>
			</div>
	</body>
{% endblock %}
