.title {
	padding-bottom: 1em;
	}

.topbtm-pad {
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.list-view .list-item {
	display: block;
	}

.large-icon {
	font-size: 2em;
	}

.no-left-padding {
	padding-left: 0;
	}

.center {
	text-align: center;
	}

.messages-list {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	padding: 1em;
	}

.messages-list .message {
	border-radius: 0.5em;
	padding-top: 1em;
	}

.messages-list .message.error {
	background-color: #f3d6d6;
	opacity: 0.85;
	}

.messages-list .message.error h1 {
	color: #0a3986;
	}

.alert {
	padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-bottom: 0;
	}

.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
	}

.button.fit {
	padding: 0.5em 2em 0.5em 2em;
	}

.btn:hover {
	cursor: pointer;
	cursor: hand;
	}

	.vert-line {
  border-right: thin solid #ddd;
}

.page-header {
	position: relative;
	padding: 7em 0 1em 0;
	background: #fff;
	background-size: cover;
	text-align: center;
	color: #7C9CD0;
	}

	.page-header header h2 {
		font-size: 3.5em;
		font-weight: 100;
		color: #7C9CD0;
		}

		.dash-head {
		position: relative;
		padding: 2em 0 0 0;
		margin-left: -3em;
		margin-bottom: -0.5em;
		background: #fff;
		background-size: cover;
		color: #7C9CD0;
		}

	.dash-head header h2 {
		font-size: 2em;
		font-weight: 100;
		text-align: left;
		color: #7C9CD0;
		}
