<div class="dash-head">
	<div class="container"><header><h2 class="title"><div class="row">
		<div class="7u">{{ title }}</div>
			<div class="hidemobile 5u" style='padding-left:2.5em'>
			<div class="icon-pad nav-icons">
				<a href="{% url 'core:dashboard' %}" class='tooltip-bottom' data-tooltip="Dashboard">
					<span class="icon2 fa-desktop"></span>
				</a>
				<a href="{% url 'core:transcript' %}" class='tooltip-bottom' data-tooltip='Transcript'>
					<span class="icon2 fa-archive"></span>
				</a>
				<a href="{% url 'core:preferences' %}" class='tooltip-bottom' data-tooltip='Preferences'>
					<span class="icon2 fa-cog"></span>
				</a>
				<a href="{% url 'core:questions' %}" class='tooltip-bottom' data-tooltip='Help'>
					<span class="icon2 fa-question"></span>
				</a>
				<a href="{% url 'logout' %}" class='tooltip-bottom' data-tooltip='Logout'>
					<span class="icon2 fa-sign-out"></span>
				</a>
			</div></div>
	</div></h2></header></div>
</div>